<div style="width: 100%; background-color: white">
  <nz-divider [nzText]="Title1"></nz-divider>
  <ng-template #Title1>
    <h2>推荐的房型</h2>
  </ng-template>
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="6" style="padding: 5px" *ngFor="let item of roomRecommend; let i = index">
      <nz-card nzHoverable="true" [nzCover]="coverTemplate" [nzActions]="[actionBooking, actionDelete]" nzSize="small">
        <nz-card-meta [nzTitle]="item.Title" [nzDescription]="item.nzDescription"></nz-card-meta>

        <ng-template #coverTemplate>
          <img alt="example" [src]="item.img" (click)="showDetail(item.room_Id)" style="height: 201.5px" />
        </ng-template>
        <ng-template #actionBooking>
          <i nz-icon nzType="edit" (click)="bookingRecommendRoom(item)"></i>
        </ng-template>
        <ng-template #actionDelete>
          <i nz-icon nzType="dislike" (click)="dislike(item.recommendId)"></i>
        </ng-template>
      </nz-card>
    </div>
  </div>
  <nz-divider [nzText]="Title2"></nz-divider>
  <ng-template #Title2>
    <h2>剩余的房型</h2>
  </ng-template>
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="6" style="padding: 5px" *ngFor="let item of roomSurplus; let i = index">
      <nz-card nzHoverable="true" [nzCover]="coverTemplate" [nzActions]="[actionBooking, actionLike]" nzSize="small">
        <nz-card-meta [nzTitle]="item.hallName + '/' + item.description" [nzDescription]="'￥' + item.price + '/一天'"> </nz-card-meta>

        <ng-template #coverTemplate>
          <img alt="example" [src]="item.image" (click)="showDetail(item.id)" style="height: 201.5px" />
        </ng-template>
        <ng-template #actionBooking>
          <i nz-icon nzType="edit" (click)="bookingSurplusRoom(item)"></i>
        </ng-template>
        <ng-template #actionLike>
          <i nz-icon nzType="like" (click)="addRecommend(item.id)"></i>
        </ng-template>
      </nz-card>
    </div>
  </div>
</div>
<app-booking-detail #bookingDetail (notification)="load()"></app-booking-detail>
<!-- <app-recommendDetail #recommendDetail></app-recommendDetail> -->
