<div style="width: 100%;background-color: white;">
  <nz-divider [nzText]="Title1"></nz-divider>
  <ng-template #Title1>
    <h2>推荐的房型</h2>
  </ng-template>
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="8" style="padding: 5px;" *ngFor="let item of roomRecommend,let i = index">
      <div *ngIf="i>=3 === false">

        <nz-card nzHoverable="true" [nzCover]="coverTemplate" [nzActions]="[actionBooking]" nzSize="small">
          <nz-card-meta [nzTitle]="item.Title" [nzDescription]="item.nzDescription"></nz-card-meta>

          <ng-template #coverTemplate>
            <img alt="example" [src]="item.img" />
          </ng-template>
          <ng-template #actionBooking>
            <i nz-icon nzType="edit"></i>
          </ng-template>
        </nz-card>
      </div>
    </div>
  </div>
  <nz-divider [nzText]="Title2"></nz-divider>
  <ng-template #Title2>
    <h2>剩余的房型</h2>
  </ng-template>
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="6" style="padding: 5px;" *ngFor="let item of roomRecommend,let i=index ">
      <nz-card nzHoverable="true" [nzCover]="coverTemplate" [nzActions]="[actionBooking]" nzSize="small">
        <nz-card-meta [nzTitle]="item.Title" [nzDescription]="item.nzDescription"></nz-card-meta>

        <ng-template #coverTemplate>
          <img alt="example" [src]="item.img" />
        </ng-template>
        <ng-template #actionBooking>
          <i nz-icon nzType="edit"></i>
        </ng-template>
      </nz-card>

    </div>
  </div>
</div>
