<nz-modal [(nzVisible)]="isVisible" nzTitle="房间详情" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <form #form="ngForm" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>楼层名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input
          nz-input
          autocomplete="off"
          name="hallName"
          [(ngModel)]="paramsItem.hallName"
          placeholder="请填写"
          #hallName="ngModel"
          required
          maxlength="255"
          [readOnly]="isWatch || isAddRoom"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>房间名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input
          nz-input
          autocomplete="off"
          name="roomName"
          [(ngModel)]="paramsItem.roomName"
          placeholder="请填写"
          #roomName="ngModel"
          required
          maxlength="255"
          [readOnly]="isWatch"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="!isAddRoom">
      <nz-form-label [nzSpan]="7">价格</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <nz-input-number
          name="price"
          #price="ngModel"
          [(ngModel)]="paramsItem.price"
          [nzMin]="500"
          [nzStep]="100"
          placeholder="请填写"
          [disabled]="isWatch"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isAddRoom">
      <nz-form-label nzRequired [nzSpan]="7">价格</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <nz-input-number
          required
          name="price"
          #price="ngModel"
          [(ngModel)]="paramsItem.price"
          [nzMin]="500"
          [nzStep]="100"
          placeholder="请填写"
          [disabled]="isWatch"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>房间状态</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <nz-switch
          nzCheckedChildren="1"
          nzUnCheckedChildren="0"
          [(ngModel)]="paramsItem.status"
          required
          [nzDisabled]="isWatch"
          name="status"
          #price="ngModel"
        ></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="!isAddRoom">
      <nz-form-label [nzSpan]="7">图片链接</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input
          nz-input
          required
          autocomplete="off"
          name="image"
          [(ngModel)]="paramsItem.image"
          placeholder="请填写"
          #image="ngModel"
          maxlength="255"
          [readOnly]="isWatch"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isAddRoom">
      <nz-form-label nzRequired [nzSpan]="7">图片链接</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input
          nz-input
          required
          autocomplete="off"
          name="image"
          [(ngModel)]="paramsItem.image"
          placeholder="请填写"
          #image="ngModel"
          maxlength="255"
          [readOnly]="isWatch"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>房间描述</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <textarea
          rows="4"
          nz-input
          [(ngModel)]="paramsItem.description"
          placeholder="请填写"
          name="description"
          #description="ngModel"
          required
          [readOnly]="isWatch"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
