<div class="alain-default__aside-inner">
  <div nz-dropdown nzTrigger="click" class="alain-default__aside-user">
    <nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="user.avatar"></nz-avatar>
    <div class="alain-default__aside-user-info">
      <strong>{{ userName }}</strong>
      <p class="mb0">
        <nz-tag *ngIf="role === 'Manager'" [nzColor]="'magenta'">管理员</nz-tag>
        <nz-tag *ngIf="role === 'Worker'" [nzColor]="'green'">工作人员</nz-tag>
        <nz-tag *ngIf="role === 'User'" [nzColor]="'red'">用户</nz-tag>
        <!-- <nz-tag *ngIf="role === 'User' && bookTime 5" [nzColor]="'red'">用户</nz-tag> -->
      </p>
    </div>
  </div>
  <!-- <nz-dropdown-menu #userMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item routerLink="/pro/account/center">{{ 'menu.account.center' | translate }}</li>
      <li nz-menu-item routerLink="/pro/account/settings">{{ 'menu.account.settings' | translate }}</li>
    </ul>
  </nz-dropdown-menu> -->
  <ul nz-menu *ngIf="role === 'Manager'" style="margin-top: 20px">
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/dashboard']">首页</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/booking']">房间预定订单</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/room']">房间管理</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/userComment']">评论管理</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/role']">角色管理</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/message']">消息管理</a>
    </li>
  </ul>
  <ul nz-menu *ngIf="role === 'User'" style="margin-top: 20px">
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/userRecommend']">推荐房型</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/booking']">我的订单</a>
    </li>

    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/userComment']">我的评论</a>
    </li>
  </ul>
  <ul nz-menu *ngIf="role === 'Worker'" style="margin-top: 20px">
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/booking']">房间预定订单</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/room']">房间管理</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/userComment']">评论管理</a>
    </li>
    <li nz-menu-item nzMatchRouter style="text-align: center">
      <a [routerLink]="['/message']">消息管理</a>
    </li>
  </ul>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
