<div style="padding: 5px;">
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Card title">
        <div echarts [options]="option" class="demo-chart"></div>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Card title">
        <div echarts [options]="option" class="demo-chart"></div>
      </nz-card>
    </div>
    <div nz-col nzSpan="24">
      <nz-card nzTitle="Card title">
        <div echarts [options]="option1" class="demo-chart"></div>
      </nz-card>
    </div>
  </div>
</div>
