<nz-modal [(nzVisible)]="isVisible" nzTitle="订单详情" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <form #form="ngForm" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>房间名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="roomErrorTpl">
        <nz-cascader
          [nzDisabled]="isWatch || userType === 'User'"
          [nzAllowClear]="false"
          [nzOptions]="roomOptions"
          name="roomId"
          [(ngModel)]="room_Id"
          (ngModelChange)="chooseRoom($event)"
        ></nz-cascader>
        <ng-template #roomErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please choose your room! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <nz-select
          [nzDisabled]="isWatch || userType === 'User'"
          [nzAllowClear]="false"
          nzShowSearch
          nzPlaceHolder="请选择"
          name="userId"
          [(ngModel)]="paramsItem.user_Id"
          (ngModelChange)="chooseUser($event)"
        >
          <nz-option *ngFor="let option of users" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
        </nz-select>
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please choose user! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="!isWatch">
      <nz-form-label [nzSpan]="7" nzRequired>时间段</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="timeErrorTpl">
        <nz-range-picker
          [nzAllowClear]="false"
          name="date"
          [nzFormat]="dateFormat"
          [(ngModel)]="dateRange"
          [nzDisabledDate]="disabledDate"
          (ngModelChange)="chooseDate($event)"
        >
        </nz-range-picker>
        <ng-template #timeErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please choose your time! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="isWatch">
      <nz-form-label [nzSpan]="7" nzRequired>开始时间</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input name="startDate" [(ngModel)]="this.paramsItem.startDate" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isWatch">
      <nz-form-label [nzSpan]="7" nzRequired>结束时间</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input name="endDate" [(ngModel)]="this.paramsItem.endDate" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isWatch">
      <nz-form-label [nzSpan]="7" nzRequired>金额</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input name="money" [(ngModel)]="this.paramsItem.totalPrice" readonly />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>人数选择</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <nz-radio-group [nzDisabled]="isWatch" [(ngModel)]="radioValue" name="radioValue">
          <label nz-radio nzValue="dan">单人</label>
          <label nz-radio nzValue="duo">多人</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="radioValue === 'duo' && !isWatch">
      <p style="color: red">多人信息使用英文逗号隔开,例如：张三,李四</p>
    </nz-form-item>
    <nz-form-item *ngIf="radioValue === 'duo'">
      <nz-form-label [nzSpan]="7" nzRequired>同住姓名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input name="temporaryName" [readOnly]="isWatch" [(ngModel)]="this.paramsItem.temporaryName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="radioValue === 'duo'">
      <nz-form-label [nzSpan]="7" nzRequired>同行身份证</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input name="temporaryID" [readOnly]="isWatch" [(ngModel)]="this.paramsItem.temporaryID" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
