<nz-modal [(nzVisible)]="isVisible" nzTitle="Modal Title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <form #form="ngForm" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>房间名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="roomErrorTpl">
        <nz-cascader
          [nzOptions]="roomOptions"
          name="roomId"
          [(ngModel)]="paramsItem.room_Id"
          (ngModelChange)="chooseRoom($event)"
        ></nz-cascader>
        <ng-template #roomErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please choose your room! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <nz-select
          nzAllowClear
          nzShowSearch
          nzPlaceHolder="请选择"
          name="userId"
          [(ngModel)]="paramsItem.user_Id"
          (ngModelChange)="chooseUser($event)"
        >
          <nz-option *ngFor="let option of users" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
        </nz-select>
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please choose user! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>时间段</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="timeErrorTpl">
        <nz-range-picker name="date" [nzFormat]="dateFormat" [(ngModel)]="dateRange" (ngModelChange)="chooseDate($event)">
        </nz-range-picker>
        <ng-template #timeErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please choose your time! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
