<as-split direction="vertical" style="background-color: white">
  <as-split-area>
    <form nz-form>
      <div nz-row [nzGutter]="24" style="margin: 10px">
        <div nz-col>
          <nz-form-item>
            <nz-form-label nzSpan="2">房间名称</nz-form-label>
            <nz-form-control nzSpan="7">
              <input nz-input />
            </nz-form-control>
            <nz-form-label nzSpan="2">房间名称</nz-form-label>
            <nz-form-control nzspan="7">
              <input nz-input />
            </nz-form-control>
            <nz-form-label nzSpan="2">房间名称</nz-form-label>
            <nz-form-control nzSpan="7">
              <input nz-input />
            </nz-form-control>
            <button nz-button nzType="primary" style="margin-left: 200px">查询</button>
            <button nz-button nzType="default">清空</button>
          </nz-form-item>
        </div>
      </div>
    </form>
  </as-split-area>

  <as-split-area>
    <button nz-button nzType="primary" *ngIf="role === 'admin'" (click)="showModal()">新增订单信息</button>
    <nz-table #basicTable [nzData]="listOfData" [nzScroll]="{ y: '100%' }" [nzLoading]="loading">
      <thead>
        <tr>
          <th>序号</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>创建时间</th>
          <th>修改日期</th>
          <th>订单状态</th>
          <th>统计金额</th>
          <th>用户Id</th>
          <th>房间Id</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.startDate }}</td>
          <td>{{ data.endDate }}</td>
          <td>{{ data.createTime | date: 'medium' }}</td>
          <td>{{ data.modifyTime | date: 'medium' }}</td>
          <td>
            <nz-tag *ngIf="!data.status" [nzColor]="'magenta'">已结束</nz-tag>
            <nz-tag *ngIf="data.status" [nzColor]="'green'">进行中</nz-tag>
          </td>
          <td>{{ data.totalPrice }}</td>
          <td>{{ data.user_Id }}</td>
          <td>{{ data.room_Id }}</td>

          <td>
            <a>查看</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a *ngIf="data.status"><a nz-popconfirm nzPopconfirmTitle="确定结束吗?" (nzOnConfirm)="endOrder(data.id)">结束订单</a></a>
            <a *ngIf="!data.status" (click)="addComment(data)">评价</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </as-split-area>
</as-split>
<app-booking-detail #bookingDetail (notification)="load()"></app-booking-detail>
<app-comment-detail #commentDetail></app-comment-detail>
